@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,700i');

*{
  box-sizing: border-box;
}

body{
  background-image: url(../image/bg-body.png);
  font-family: Raleway, sans-serif;
}
.social{
  display: flex;
  justify-content: space-between;
}

.boton{
  display:flex;
  padding: 5px 2% 5px 2%;
  justify-content: flex-start;
}

.redondo{
  border-radius: 50%;
}
